<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layuiAdmin</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>


<form class="layui-form">
    <label>选择课程：</label>
    <div class="layui-input-inline">
        <select name="csName" id="demoReload">
            <option value=""></option>
            <option value="语文">语文</option>
            <option value="数学">数学</option>
            <option value="化学">化学</option>
            <option value="物理">物理</option>
            <option value="英语">英语</option>
            <option value="生物">生物</option>
            <option value="地理">地理</option>
            <option value="历史">历史</option>
            <option value="政治">政治</option>
            <option value="体育">体育</option>
            <option value="微机">微机</option>
        </select>
    </div>
    
    <div class="layui-input-inline" >
        <button class="layui-btn layui-btn" id="stuNum_btn" lay-submit lay-filter="formSearch">搜索</button>
    </div>
    
</form>


	


<table id="demo" lay-filter="test" ></table>
</body>
</html>
<!--顶部操作栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container"  >
        <button class="layui-btn layui-btn-sm" lay-event="add">添加课程</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">批量删除</button>
		<button class="layui-btn layui-btn-sm" lay-event="cou_add_stu">为课程添加学生</button>
		<button class="layui-btn layui-btn-sm" lay-event="cou_sel_stu">查看该课程学生</button>
    </div>
</script>

<script type="text/html" id="getstuListtoolbarDemo">
    <div class="layui-btn-container"  >
        <button class="layui-btn layui-btn-sm" lay-event="queding">确定</button>
    </div>
</script>

<script type="text/html" id="getstuListtoolbarDemo1">
    <div class="layui-btn-container"  >
        <button class="layui-btn layui-btn-sm" lay-event="delect">删除</button>
    </div>
</script>
<!--每条数据的操作栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
<script type="text/html" id="editDialog">
     <form class="layui-form" action="" style="padding: 20px;"   lay-filter="editDialogForm">

       <div class="layui-form-item">
            <label class="layui-form-label">课程名</label>
            <div class="layui-input-inline">
                <select name="csName" id="csName">
            		<option value=""></option>
            		<option value="语文">语文</option>
            		<option value="数学">数学</option>
            		<option value="化学">化学</option>
            		<option value="物理">物理</option>
            		<option value="英语">英语</option>
            		<option value="生物">生物</option>
            		<option value="地理">地理</option>
            		<option value="历史">历史</option>
            		<option value="政治">政治</option>
            		<option value="体育">体育</option>
            		<option value="微机">微机</option>
        </select>
            </div>
        </div>
		<div class="layui-form-item">
            <label class="layui-form-label">教师姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="csTec" id="csTec" placeholder="请输入教师姓名" autocomplete="off" class="layui-input">
        </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="radio" name="csSex" id="csSex1" value="男" title="男" checked>
                <input type="radio" name="csSex" id="csSex2" value="女" title="女">
            </div>
        </div>

 		<div class="layui-form-item layui-form-text">
            <label class="layui-form-label">请填写备注</label>
            <div class="layui-input-block">
                <textarea name="csDescription" id="csDescription" placeholder="请填写备注" class="layui-textarea"></textarea>
            </div>
        </div>
        
       


      

    </form>
</script>

<script src="../js/jquery.min.js"></script>
<script src="../layui/layui.all.js"></script>
<script>
    layui.use(['table', 'layer','form'], function () {
        window.table = layui.table;
        window.layer = layui.layer;
        window.form=layui.form;
        mounted();
    });
    
    function mounted() {
        //第一个实例
        table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/getcourseList/' //数据接口
            , page: true //开启分页
            ,id: 'testReload'
            , cols: [[ //表头
                {checkbox: true, LAY_CHECKED: false}
                , {field: 'csId', width:70, title: 'ID', sort: true}
                , {field: 'csName', title: '课程名',sort: true}
                , {field: 'csTec', title: '教师姓名', sort: true}
                , {field: 'csSex', title: '性别', sort: true}
                , {field: 'csDescription', title: '备注',sort: true } 
                , {fixed: 'right', width: 200, align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
        });
        
        
        $("#stuNum_btn").click(function(){
        	  
        	      var demoReload = $('#demoReload');
        	      console.log(demoReload.val());
        	      //执行重载
        	      table.reload('testReload', {
        	        page: {
        	          curr: 1 //重新从第 1 页开始
        	        }
        	        ,where: {
        	        	csName: demoReload.val()
        	        }
        	      });
        	      return false;
        
        });
        
       
        	  
        	
        	  
        	  
        	
        
        
        
        //监听事件
        table.on('toolbar(test)', function (obj) {
        	
            var checkStatus = table.checkStatus(obj.config.id);
           
            var str = "";
        	$(checkStatus.data).each(function(){
        		str+=this.csId+',';
        	});
        	str = str.substring(0,str.length-1);
            switch (obj.event) {
                case 'add':
                    //layer.msg('添加');
                     
                    layer.open({
                        type: 1,
                        anim: 4,
                        title: '添加',
                        area:['30%','70%'],
                        content: $('#editDialog').html(), //这里content是一个普通的String
                        btn: ['确定', '取消'],
                        success: function (index, layero) {
                            form.render();
                            
                        },
                        yes: function (index, layero) {
                        	 //var data = $("#editDialogForm form").serialize();
                        	 
                        	 
                        	 if($("#csName").val() == ""){
                        		 layer.msg('请输入课程名');
                        		 return false;
                        	 }
                        	 if($("#csTec").val() == ""){
                        		 layer.msg('请输入教师姓名');
                        		 return false;
                        	 }
                        	 if($("#csDescription").val() == ""){
                        		 layer.msg('请输入备注');
                        		 return false;
                        	 }
                        	 
                        	 
                        	 var data = {};
                        	 data.csName = $("#csName").val();
                        	 data.csTec = $("#csTec").val();
                        	 data.csSex = $("input[name='csSex']:checked").val();
                        	 data.csDescription = $("#csDescription").val();
                        	 
                        	 $.ajax({
                        		 url:"/addcus",
                        		 type:"post",
                        		 contentType: "application/json; charset=utf-8",
                 				 data:JSON.stringify(data),
                 				 success:function(result){
                 					alert(result);
                 					layer.close();
                 					window.parent.location.reload();
                 				 },
                 				 error:function(){
                 					alert("服务器繁忙，请稍等后再试");
                 				 }
                        	 });
                        },
                        btn2: function (index, layero) {
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                    });
                    break;
                case 'delete':
                	/* var str = "";
                	$(checkStatus.data).each(function(){
                		str+=this.csId+',';
                	});
                	str = str.substring(0,str.length-1); */
                    console.log(str);
                    //alert(str);
                    if(checkStatus.data.length == 0){
                		layer.msg('至少选择一项');
                		return false;
                	}
                    layer.confirm('真的删除选中行么', function (index) {
                    	$.ajax({
                    		url:"/deletecurs/"+str,
                    		type:"DELETE",
                      		contentType: "application/json; charset=utf-8",
                      		success:function(result){
                      			alert(result);
                      			layer.close(index);
                      			window.parent.location.reload();
                      		},
                      		error:function(){
                      			alert("服务器繁忙，请稍后再试");
                      		}
                    	});
                        //layer.close(index);
                        //向服务端发送删除指令
                        
                    });
                    break;
                case 'cou_add_stu':
                	/* var str = "";
                	$(checkStatus.data).each(function(){
                		str+=this.csId+',';
                	});
                	str = str.substring(0,str.length-1); */
                    console.log(str);
                    //alert(str);
                     if(checkStatus.data.length == 0){
                		layer.msg('请选择选项'); 
                		return false;
                	}else if(checkStatus.data.length >1){
                		layer.msg('只能选择一项'); 
                		return false;
                	}
                    
                    
                    layer.open({
                        type: 1,
                        anim: 4,
                        title: '为课程添加学生',
                        area:['75%','78%'],
                        content: '<div><table id="templateTable" lay-filter="test1"></table></div>',
                        btn: ['关闭'],
                        success: function (index, layero) {
                            form.render();
                             layui.use('table', function(){
                   	 			var table = layui.table;
                        	table.render({
                                elem: '#templateTable'
                                , toolbar: '#getstuListtoolbarDemo'
                                , defaultToolbar: []
                                , url: "/getStudentListByCourse/"+1+"/"+str //数据接口
                                , page: true //开启分页
                                //,id: 'testReload'
                                , cols: [[ //表头
                                    {checkbox: true, LAY_CHECKED: false}
                                    , {field: 'id', title: 'ID', sort: true}
                                    , {field: 'stuNum', title: '学号',sort: true}
                                    , {field: 'stuName', title: '姓名', sort: true}
                                    , {field: 'stuSex', title: '性别',sort: true }
                                    , {field: 'stuAddress', title: '城市', }
                                    , {field: 'stuDate', title: '日期',sort: true }
                                ]]
                            });            
                             });    
                             table.on('toolbar(test1)', function (obj) {
                            	 var checkStatus = table.checkStatus(obj.config.id);
                                 
                                 var strs = "";
                             	$(checkStatus.data).each(function(){
                             		strs+=this.id+',';
                             	});
                             	strs = strs.substring(0,strs.length-1);
                                 switch (obj.event) {
                                 case 'queding':
                                	 if(checkStatus.data.length == 0){
                                 		layer.msg('至少选择一项');
                                 		return false;
                                 	}
                                	$.ajax({
                                		url:"/addStudentToCourse/"+strs+"/"+str,
                                		success:function(result){
                                			if(result.code == "200"){
                            					alert(result.msg);
                            					$(".layui-laypage-btn").click();
                            				}else{
                            					alert(result.msg);
                            				}
                                		},
                                		error:function(){
                                			alert("error");
                                		}
                                	});
                                	
                                	
                                break;
                                 }
                            });
                             
                        },
                        
                        btn2: function (index, layero) {
                            //return false 开启该代码可禁止点击该按钮关闭
                        	layer.close(index);
                        	
                        }
                    });
                    
                 
                    break;
                case 'cou_sel_stu':
                	/* var str = "";
                	$(checkStatus.data).each(function(){
                		str+=this.csId+',';
                	});
                	str = str.substring(0,str.length-1); */
                    console.log(str);
                    //alert(str);
                    if(checkStatus.data.length == 0){
                		layer.msg('请选择选项'); 
                		return false;
                	}else if(checkStatus.data.length >1){
                		layer.msg('只能选择一项'); 
                		return false;
                	}
                   
                    
                  
                    layui.use('table', function(){
                    	 var table = layui.table;
                    layer.open({
                        type: 1,
                        anim: 4,
                        title: '查看该课程学生',
                        area:['75%','78%'],
                        content:'<table id="templateTable1" lay-filter="test2"></table>',
                        btn: ['关闭'],
                        success: function (index, layero) {
                        	table.render({
                                elem: '#templateTable1'
                                , toolbar: '#getstuListtoolbarDemo1'
                                , defaultToolbar: []
                                , url: "/getStudentListByCourse/"+2+"/"+str //数据接口
                                , page: true //开启分页
                                //,id: 'testReload'
                                , cols: [[ //表头
                                    {checkbox: true, LAY_CHECKED: false}
                                    , {field: 'id', title: 'ID', sort: true}
                                    , {field: 'stuNum', title: '学号',sort: true}
                                    , {field: 'stuName', title: '姓名', sort: true}
                                    , {field: 'stuSex', title: '性别',sort: true }
                                    , {field: 'stuAddress', title: '城市', }
                                    , {field: 'stuDate', title: '日期',sort: true }
                                ]]
                            });  
                        	table.on('toolbar(test2)', function (obj) {
                           	 var checkStatus = table.checkStatus(obj.config.id);
                                
                                var strs = "";
                            	$(checkStatus.data).each(function(){
                            		strs+=this.id+',';
                            	});
                            	strs = strs.substring(0,strs.length-1);
                                switch (obj.event) {
                                case 'delect':
                               	 if(checkStatus.data.length == 0){
                                		layer.msg('至少选择一项');
                                		return false;
                                	}
                               	$.ajax({
                               		url:"/delStudentToCourse/"+strs+"/"+str,
                               		success:function(result){
                               			if(result.code == "200"){
                           					alert(result.msg);
                           					$(".layui-laypage-btn").click();
                           				}else{
                           					alert(result.msg);
                           				}
                               		},
                               		error:function(){
                               			alert("error");
                               		}
                               	});
                               	
                               	
                               break;
                                }
                           });
                            
                        },
                       
                        btn2: function (index, layero) {
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                    });
                    });
                    break;
            }
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
         	var csId = data['csId'];

            if (layEvent === 'detail') { //查看
            	layer.msg("ID是"+csId);
            	
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    //obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    //layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                    	url:"/deletecurs/"+csId,
                  		type:"DELETE",
                  		contentType: "application/json; charset=utf-8",
                  		success:function(result){
                  			alert(result);
                  			layer.close(index);
                  			window.parent.location.reload();
                  		},
                  		error:function(){
                  			alert("服务器繁忙，请稍后再试");
                  		}
                    });
                });
            } else if (layEvent === 'edit') { //编辑
                //do something
                layer.open({
                    type: 1,
                    anim: 4,
                    title: '编辑',
                    area:['30%','70%'],
                    content: $('#editDialog').html(), //这里content是一个普通的String
                    btn: ['确定', '取消'],
                    success: function (index, layero) {
                        form.render();
                        form.val("editDialogForm",data);
                    },
                    yes: function (index, layero) {
                    	
                    	 
                    	 
                       	 
                    	var data = {};
                   	 	data.csName = $("#csName").val();
                   	 	data.csTec = $("#csTec").val();
                   	 	data.csSex = $("input[name='csSex']:checked").val();
                   	 	data.csDescription = $("#csDescription").val();
                   	 	data.csId = csId;
                   	 	
                   	 
                   	 	
                   	 	$.ajax({
                   	 		url:"/updatecsu/"+csId,
                   	 		type:"PUT",
                   	 		contentType: "application/json; charset=utf-8",
                   	 		data:JSON.stringify(data),
                   	 		success:function(result){
                   	 			if(result.code == "200"){
                   	 				alert(result.msg); 
                   	 				layer.close();
                   	 				window.parent.location.reload();
                   	 			}else{
                   	 				layer.msg(result.msg); 
                   	 			}
                   	 		},
                   	 		error:function(){
                   	 			alert("服务器繁忙，请稍后再试");
                   	 		}
                   	 	});
                    },
                    btn2: function (index, layero) {
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            }
        });

    }

</script>