<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaokang.login_MP.dao.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaokang.login_MP.bean.Course">
        <id column="cs_id" property="csId" />
        <result column="cs_name" property="csName" />
        <result column="cs_tec" property="csTec" />
        <result column="cs_description" property="csDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cs_id, cs_name, cs_tec, cs_description
    </sql>

</mapper>
